<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="miestilo.css">
    <title>FarmaBarrio | Inicio</title>
</head>
<body>
    <div class="header">

        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="20" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">FarmaBarrio</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Inicio</a></li>
                <li class="nav-item"><a href="/medicamentos" class="nav-link">Medicamentos</a></li>
                <li class="nav-item"><a href="/laboratorios" class="nav-link">Laboratorios</a></li>
                <li class="nav-item"><a href="/sucursales" class="nav-link">Sucursales</a></li>
                <li class="nav-item"><a href="/ofertas" class="nav-link">Ofertas</a></li>
            </ul>
        </header>

    </div>
    {% block header1 %}

    <header class="p-3 text-bg-dark">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>
        <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
    </header>
</body>
<div>
    <br> Aca iria el resto de la pagina
</div>
    {% endblock %}
</html>