<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=ç, initial-scale=1.0">
    <title>FarmaBarrio | Laboratorios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>

{% extends "inicio.html" %}

{% load static %}

{% block header1 %}

<body>
    <center>
        <div class="titulo_laboratorios">
            <div>
                <h1>
                    Laboratorios
                </h1>
            </div>
        </div>
    </center>

<link rel="stylesheet" href="{% static 'css/miestilo.min.css'%}">
    <body>
        <div class="b-line">
            <form action="/laboratorios/" method="POST"> {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Que laboratorio desea agregar? </h1>
                <div class="form-floating">
                    <input type="text" name="nombreLaboratorio" class="form-control"  placeholder=" " >
                        <label for="floatingInput">Nombre del Laboratorio</label>
                </div>
                <div class="form-floating">
                    <input type="text" name= "telefono"class="form-control" placeholder=" ">
                        <label for="floatingPassword">Telefono</label>
                </div>
                <div class="form-floating">
                    <input type="text" name= "direccion"class="form-control" placeholder=" ">
                        <label for="floatingPassword">Direccion</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Guardar</button>
            </form>
        </div> 
    <div class="v-line">
        <form action="/laboratorios" method="GET"> 
            <h1 class="h3 mb-3 fw-normal">Que laboratorio desea buscar? </h1>
            <div class="form-floating">
                <input type="text" name="nombreLaboratorio" class="form-control"  placeholder=" " >
                    <label for="floatingInput">Nombre del laboratorio</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Buscar</button>
        </form>
    </div>
    {% endblock %}
    <div class='recuadro'>
        {% if medicamentos %}
        <ul>
            {% for medicamento in medicamentos %}
            <li>{{medicamento.nombreMedicamento}}</li>
            <li>{{medicamento.nombreDroga}}</li>
            <li>{{medicamento.nombreLaboratorio}}</li>
            <li>{{medicamento.codigoBarra}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</body>
</html>

