<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmaBarrio | Sucursales</title>
</head>

{% extends "inicio.html" %}

{% load static %}

{% block header1 %}

<form action="/sucursales/" method="POST"> {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Ingrese los datos de la sucursal</h1>
    <div class="form-floating">
        <input type="text" name="nombreSucursal" class="form-control"  placeholder=" " >
            <label for="floatingInput">Nombre de la Sucursal</label>
    </div>
    <div class="form-floating">
        <input type="text" name= "direccionSucursal"class="form-control" placeholder=" ">
            <label for="floatingPassword">Direccion</label>
    </div>
    <div class="form-floating">
        <input type="text" name= "municipioSucursal"class="form-control" placeholder=" ">
            <label for="floatingPassword">Municipio</label>
    </div>
    <div class="form-floating">
        <input type="text" name= "ciudadSucursal"class="form-control" placeholder=" ">
            <label for="floatingPassword">Ciudad</label>
    </div>
    <div class="form-floating">
        <input type="text" name= "telefonoSucursal"class="form-control" placeholder=" ">
            <label for="floatingPassword">Telefono</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Guardar</button>
</form>

{% endblock %}
</html>